* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.top {
    padding-bottom: 99px;
}

.header {
    padding-top: 50px;
    padding-bottom: 50px;
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
}

.subtitle {
    margin-bottom: 20px;
}

.title {
    margin-bottom: 40px;
}

.top__buttons {
    margin-top: 50px;
}