* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.center {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);

}

a {
    text-decoration: none;
}

.top {
    padding-bottom: 96px;
}

.center {
    padding: 0 calc(50% - 573px);
}

.head__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}

.header {
    padding: 50px 0;
    display: flex;
    justify-content: flex-start;
}

.header__link__orange {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 602px;
    
}

.header__link {
    color: #000000;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
}

.subtitle {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__buttons {
    margin-top: 37px;
}