* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.center {
    padding: calc(50% - 960px);
}

a {
    text-decoration: none;
}

.top {
    padding-bottom: 96px;
}

.header {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
}

.head__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    width: 35px;
    height: 40px;
    flex-shrink: 0;
}

.navigate {
    display: flex; 
    align-items: center;
    justify-content:center;
    gap: 10px;
    width: 533px;
    height: 17px;
}

.header__link__orange {
    color: #F25822;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.header__link {
    color: #000000;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__content {
    margin-top: 96px;
    margin-bottom: 162px;
    gap: 41px;
    display: flex;
    justify-content: center;
}

.title {
    color: #000;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 522px;
    height: 222px;
    

}

.subtitle {
    margin-top: 17px;
    margin-bottom: 37px;
    color: #888;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 466px;
    height: 48px;
    
}

.top__buttons {
    display: flex;
    align-items: center;
    gap: 72px;
    
}

.orange__button {
    border-radius: 50px;
    color: var(--ffffff, #FFF);
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    font-family: 'Gilroy-Bold', sans-serif;
}

.watch__button {
    color: #AAA;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FFF;
    border: 1px;
}

.top__logo {
    padding-top: 97px;
    padding-bottom: 96px;
    /* margin-top: 97px;
    margin-bottom: 96px; */
    justify-content: center;
    gap: 48px;
    display: flex;

}