* {
    margin: 0;
    padding: 0;
    background-color: rgb(175, 145, 145);
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.center {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);

}

a {
    text-decoration: none;
}

.top {
    padding-bottom: 99px;
    display: flex;
    flex-wrap: wrap;
}

.header {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Agdasima', sans-serif;
    display: flex;
    gap: 30px;
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
}

.subtitle {
    margin-bottom: 20px;
}

.title {
    margin-bottom: 40px;
    width: 522px;
    font-style: normal;
}

.top__buttons {
    margin-top: 50px;
}

.content {
    width: 700px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 32px;
    margin-bottom: 128px;
}

.item {
    border: 1px solid #000;
    min-height: 200px;
}

.item1 {
    grid-column: 1/3;
    grid-row: 1/3
}

.item3 {
    grid-column: 4/5;
    grid-row: 1/3;
}

.box {
    padding-top: 128px;
    padding-bottom: 128px;
    position: relative;
}

.elem {
    width: 250px;
    height: 150px;
    position: absolute;
}

.elem1 {
    background-color: rgb(17, 75, 20);
    top: 0;
    left: 0;
    z-index: 2;
}

.elem2 {
    background-color: rgb(29, 139, 35);
    left: 75px;
    top: 75px;
    z-index: 1;
}

.elem3 {
    background-color: rgb(14, 236, 25);
    top: 150px;
    left: 150px;
    z-index: 0;
}

.top_logo {
    display:grid;
    gap: 48px;
    

}